// Examples styling
// - - - - - - - - - - - - - - -

.example {
 width: 85%;
 margin: 2em auto;

  img {
    max-width: 100%;
    max-height: 300px;
    height: auto;
    width: auto;
    margin: auto;
  }

  > * ~ * {
    margin-top: 20px;
  }
}
a .example{
  border:none;
}
a:hover .example {
  background: $light-gray;
}

.example__subheading{
  @include heading_5;
  width: 100%;
  padding-bottom: 1em;
  border-bottom: 1px solid $light-gray;
  text-align: center;
  color: $medium-gray;
}

.border {
   border: 1px solid #ddd;
   padding: 2em;
}

#main-content{
    margin-top: rem-calc(30);
}

.switch-buttons {
  input:checked + label{
    background: $yale-blue;
    color: $white !important;
  }

  .button {
    width: 33%;
    &:hover{
      background: $marine;
      color: $white !important;
    }
  }
}



// Log in form and Charging Form
//TODO move to own partials

#log-in-form,
#yale-charging-form {
    max-width: 384px;
    margin: auto;
}

#yale-charging-form {
  input[type=text]{
    text-transform: uppercase;
  }
}

#payment-amount{
  font-size: rem-calc(30);
}