// Examples styling
// - - - - - - - - - - - - - - -

.example {
  background: $white;
  border: 1px solid $light-gray;
  padding: .5em; 
  max-width: 90%;
  margin: 2em auto;

  img {
    max-width: 100%;
    max-height: 300px;
    height: auto;
    width: auto;
    margin: auto;
  }

  > * ~ * {
    margin-top: 20px;
  }
}
a .example{
  border:none;
}
a:hover .example {
  background: $light-gray;
}

.example__subheading{
  @include heading_5;
  width: 100%;
  padding-bottom: 1em;
  border-bottom: 1px solid $light-gray;
  text-align: center;
  color: $medium-gray;
}


// Log in form
#log-in-form {
    border: 1px solid #ddd;
    padding: 2em;
    max-width: 384px;
    margin: auto;
}