/* Font-Face :: Base
------------------------------------------------------ */
// Follows standard font-weight properties
// http://www.w3.org/TR/css-fonts-3/#font-weight-prop
//
// YaleNew Fonts by Matthew Carter
// Converted from OTF fonts
// -------------------------------------------- 


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);

@font-face {
  font-family: 'yale';
  src: url('http://yaleui.yale.edu/assets/fonts/yalenew-roman-webfont.eot');
  src: url('http://yaleui.yale.edu/assets/fonts/yalenew-roman-webfont.eot?#iefix') format('embedded-opentype'),
       url('http://yaleui.yale.edu/assets/fonts/yalenew-roman-webfont.woff2') format('woff2'),
       url('http://yaleui.yale.edu/assets/fonts/yalenew-roman-webfont.woff') format('woff'),
       url('http://yaleui.yale.edu/assets/fonts/yalenew-roman-webfont.ttf') format('truetype'),
       url('http://yaleui.yale.edu/assets/fonts/yalenew-roman-webfont.svg#yalenewregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'yale';
  src: url('http://yaleui.yale.edu/assets/fonts/yalenew-bold-webfont.eot');
  src: url('http://yaleui.yale.edu/assets/fonts/yalenew-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('http://yaleui.yale.edu/assets/fonts/yalenew-bold-webfont.woff2') format('woff2'),
       url('http://yaleui.yale.edu/assets/fonts/yalenew-bold-webfont.woff') format('woff'),
       url('http://yaleui.yale.edu/assets/fonts/yalenew-bold-webfont.ttf') format('truetype'),
       url('http://yaleui.yale.edu/assets/fonts/yalenew-bold-webfont.svg#yalenewbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'yale';
  src: url('http://yaleui.yale.edu/assets/fonts/yalenew-italic-webfont.eot');
  src: url('http://yaleui.yale.edu/assets/fonts/yalenew-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('http://yaleui.yale.edu/assets/fonts/yalenew-italic-webfont.woff2') format('woff2'),
       url('http://yaleui.yale.edu/assets/fonts/yalenew-italic-webfont.woff') format('woff'),
       url('http://yaleui.yale.edu/assets/fonts/yalenew-italic-webfont.ttf') format('truetype'),
       url('http://yaleui.yale.edu/assets/fonts/yalenew-italic-webfont.svg#yalenewitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'yale';
  src: url('http://yaleui.yale.edu/assets/fonts/yalenew-bolditalic-webfont.eot');
  src: url('http://yaleui.yale.edu/assets/fonts/yalenew-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('http://yaleui.yale.edu/assets/fonts/yalenew-bolditalic-webfont.woff2') format('woff2'),
       url('http://yaleui.yale.edu/assets/fonts/yalenew-bolditalic-webfont.woff') format('woff'),
       url('http://yaleui.yale.edu/assets/fonts/yalenew-bolditalic-webfont.ttf') format('truetype'),
       url('http://yaleui.yale.edu/assets/fonts/yalenew-bolditalic-webfont.svg#yalenewbold_italic') format('svg');
  font-weight: bold;
  font-style: italic;
}

// This is a separate icon font with glyphs pulled from the YaleNew OTF font
// Glyphs assigned to 'Private Use Area' Unicodes:
// shield      "\f2a1"
// Yale        "\f2a2"
// University  "\f2a3"
// ----------------------------------------------------------------------------- 
@font-face {
  font-family: "YaleMarks";
  src: url("http://yaleui.yale.edu/assets/fonts/yalemarks-webfont.eot");
  src: url("http://yaleui.yale.edu/assets/fonts/yalemarks-webfont.eot?#iefix") format("embedded-opentype"),
     url("http://yaleui.yale.edu/assets/fonts/yalemarks-webfont.ttf") format("truetype"),
     url("http://yaleui.yale.edu/assets/fonts/yalemarks-webfont.woff") format("woff"),
     url("http://yaleui.yale.edu/assets/fonts/yalemarks-webfont.svg#yalenewmarks") format("svg");
  font-weight: normal;
  font-style: normal;
}


