// Style guide CSS
// - - - - - - - - - - - - - - -

/* This styles code blocks used for examples. */
.ss-code code {
  display: block;
  padding: 1rem;
  overflow-x: scroll;
  margin-bottom: 1.5rem;
}

/* This styles the example rows used in the grid documentation. */
.row.display {
  background: #eee;
  font-size: 11px;
  margin-bottom: 10px;
  line-height: 2rem;
  border: solid 1px #c6c6c6;
  margin-left: 0 !important;
  margin-right: 0 !important; }
  .row.display .columns:nth-child(2), .row.display .columns.small-centered, .row.display .columns.large-centered {
    background: #e1e1e1; }
  .row.display .columns.color-end {
    background: #d4d4d4; }

/* This styles the color blocks used in the color documentation. */
.color-block {
  border-radius: 2px;
  display: block;
  padding: 8px 8px 6px;
  color: #333;
  border: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
  .color-block span {
    display: block;
    width: 100%;
    height: 100px;
    margin-bottom: 0.42857rem;
  }

pre code {
  margin-bottom: 1rem;
}

/* Styleguide Pages are wrapped in #styleguide-component*/

#styleguide-component {
  margin-top: rem-calc(30);
}


// Link active state
a.active {
  background: $marine;
  color: $white;
  &:hover {
    @include light_link;
  }
}

// Submenu current state

#styleguide-menu {
  background: $off-white;
  padding: rem-calc(5);
}

li.current a {
  background: $light-gray;
  color: $black;
}

.nav-title,
.styleguide-nav-title {
  @include heading_5;
  color: $medium-gray;
  font-size: rem-calc(12);
  &:not(:first-of-type){
    margin-top: rem-calc(30);
  }
}

#styleguide-menu,
#styleguideTOC {
  font-size: rem-calc(14);
}