// Style guide CSS goes here
// - - - - - - - - - - - - - - -


/* This styles individual sections of the style guide */
.ss-section:not(:last-child) {
  padding-bottom: 4rem;
  border-bottom: 2px solid #ccc;
  margin-bottom: 4rem;
}

/* This styles code blocks used for examples. */
.ss-code code {
  display: block;
  padding: 1rem;
  overflow-x: scroll;
  margin-bottom: 1.5rem;
}

/* This styles the example rows used in the grid documentation. */
.row.display {
  background: #eee;
  font-size: 11px;
  margin-bottom: 10px;
  line-height: 2rem;
  border: solid 1px #c6c6c6;
  margin-left: 0 !important;
  margin-right: 0 !important; }
  .row.display .columns:nth-child(2), .row.display .columns.small-centered, .row.display .columns.large-centered {
    background: #e1e1e1; }
  .row.display .columns.color-end {
    background: #d4d4d4; }

/* This styles the color blocks used in the color documentation. */
.color-block {
  border-radius: 2px;
  display: block;
  padding: 8px 8px 6px;
  color: #333;
  border: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
  .color-block span {
    display: block;
    width: 100%;
    height: 100px;
    margin-bottom: 0.42857rem;
  }



/* -------------------------------- 

Back to top link

-------------------------------- */
.cd-container {
  width: 90%;
  max-width: 768px;
  margin: 2em auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba($yale-blue, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

.main-content{
  margin-top: rem-calc(60);
}