// Base Typography Overrides
// - - - - - - - - - - - - - - -


// Headings

@mixin heading_5 {
  font-size: rem-calc(14);
  font-family: $sans-font;
  letter-spacing: .5px;
  text-transform: uppercase;
  font-weight: $global-weight-bold;
}

@mixin heading_6 {
  font-size: rem-calc(14);
  font-family: $sans-font;
  color: $black;
  font-weight: $global-weight-bold;
}

@mixin light_link {
  color: $white;
    &:hover {
        color: lighten($blue-lt, 10%);
    }

    &:focus {
      outline-color: #fff;
    }
}

@mixin underline_heading {
  &:after{
    display: block;
    width: 40px;
    height: 1px;
    background-color: #ddd;
    content: "";
    margin-top: 16px;
  } 
}
.site-title,
.page-title{
  margin-top: 1em;
}

h1 {
  color: $black;
}

h5 {
  @include heading_5;
}

h6 {
  @include heading_6;
}

// Links

.light_link {
  @include light_link;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
  color: initial;
}


.menu a,
.tabs a,
.accordion-title {
  text-decoration: none;
}

// icons

.icon-label{
  margin-top: rem-calc(10);
  margin-bottom: rem-calc(10);
}

// TODO This should be a mixin

a[href$='pdf']:after,
a[href$='doc']:after,
a[href$='docx']:after,
a[href$='xls']:after,
a[href$='xlsx']:after,
a[href$='ppt']:after,
a[href$='pptx']:after,
a[href^="http://"]:not([href*="yale.edu"]):after,
a[href^="https://"]:not([href*="yale.edu"]):after {
  font-family: 'FontAwesome';
  margin-left: 5px;
  text-decoration: none;
  display: inline-block;
}



a[href$='pdf']:after {content: "\f1c1"}
a[href$='doc']:after {content: "\f1c2"}
a[href$='docx']:after {content: "\f1c2"}
a[href$='xls']:after {content: "\f1c3"}
a[href$='xlsx']:after {content: "\f1c3"}
a[href$='ppt']:after {content: "\f1c4"}
a[href$='pptx']:after {content: "\f1c4"}
a[href^="http://"]:not([href*="yale.edu"]):after, 
a[href^="https://"]:not([href*="yale.edu"]):after  {content: "\f08e"}
