// Base Typography Overrides
// - - - - - - - - - - - - - - -


// Headings

h1 {
  color: $black;
}

h5 {
  font-family: $sans-font;
  font-weight: bold;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

h6 {
  font-family: $sans-font;
  font-weight: bold;
  color: $black;
}