/* Yale Feature Cards :: Components
-------------------------------------- */

.feature-card,
.feature-card--media-card {
  background-color: $off-white;
  margin-bottom: 20px;
}

.feature-card--media-card__link{
  text-decoration: none;
  color: initial;
  
  .feature-card__figure{
    max-width: 100%;
    overflow: hidden;
    position: relative;

    img {
      -moz-transition: all 0.8s;
      -webkit-transition: all 0.8s;
      transition: all 0.8s;
    }
  }

  &:hover,
  &:focus {
    color: $marine;

    img {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
  }
}

.feature-card__title {
    font-size: rem-calc(36);
    line-height: rem-calc(40);
    font-family: $yale-font;
    letter-spacing: 0.89px;
    margin: 10px 0;
}

.feature-card__content{
  padding: 10%;
}

.feature-card__header{
  width: 100%;
  display: table;

  .feature-card__category,
  .feature-card--media-card__title {
    caption-side: top;
    display: table-caption;
    margin: 10px 0 20px;

    @include heading_5;
  }
}

.feature-card__header:not(:last-child){

  .feature-card__category,
  .feature-card--media-card__title {

    @include underline_heading;
  }
}


.feature-card__category{
  color: $black;
}

.feature-card--media-card__title{
  color: $marine;
}

.feature-card__description{
    
    display: none; //hide for small screens

    @include breakpoint(medium){
      display: initial;
    }

    font-size: rem-calc(20);
    p {
      margin: 10px 0;
    }
}

.feature-card__footer{
  padding: 20px 0 10px;
}

.feature-card__figure {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
}

.responsive_image img {
    width: 100%;
}

