/* Yale Footer :: Components
-------------------------------------- */

footer.yale-footer {
  background: $yale-blue;
  
  .footer-logo {
    font-size: rem-calc(18);
    padding-top: 30px;
    padding-bottom: 30px;

    a {
      @include light_link;
      text-decoration: none;
    }
  }

  h2 {
    color: $white;
    font-size: rem-calc(20);
  }

  ul {
    list-style: none;
  }

  li a{
    font-size: rem-calc(14);
  }
}