/* Yale Header :: Components
-------------------------------------- */

header.y-header{
  background: $yale-blue;
  min-height: 60px;
  margin-bottom: 1.5em;
  
  .topper-logo {
    margin: auto;
    a {
      text-align: center;
      color: $white;
      text-decoration: none;
        &:hover {
        color: lighten($blue-lt, 10%);
        }
    }
  }
}