/* Yale Top Bar :: Components
-------------------------------------- */

header {
  background: $yale-blue;
    .topper-logo {
    a {
      @include light_link;
      text-decoration: none;
    }
  }
  border-bottom: 1px solid $yale-blue;
  border-top: 1px solid $yale-blue;
}

button.menu-icon{
  margin-right: 1rem;
}

.top-bar {
  @each $breakpoints, $value in $grid-column-gutter {
      $padding: rem-calc($value) / 2;

      @include breakpoint($breakpoints) {
        padding-left: $padding;
        padding-right: $padding;
      }
  }
}

.top-bar-container{
    background: $topbar-background;
    width: 100%;
}

.top-bar-title{
  @include heading_5;
  display: block;
  padding: 0.75rem 0;
  line-height: 1;

  a {
    text-decoration: none;
    color: initial;
    
    &:hover{
      color: $marine;
    }
  }
}

/* Match input field to search button height*/
input[type='search']{
  // height: 48px;
}