<div class="row">
  <div class="column small-6">
    <article class="feature-card bg_gray_light">
      <div class="feature-card__content">
        <header class="feature-card__header">
          <h2 class="feature-card__title">
            This black hole has an appetite for cold, cosmic rain
          </h2>
          <h3 class="feature-card__category">Astronomy at Yale</h3>
        </header>
        <div class="feature-card__description">
          <p>A new study by a team of Yale-led astronomers finds new insight into the way black holes ingest fuel.</p>
        </div>
        <footer class="feature-card__footer">
          <div class="row column centered">
          <a class="large hollow button" href="#">Learn more <span class="show-for-sr">This black hole has an appetite for cold, cosmic rain</span></a></div>
        </footer>
      </div>
    </article>
  </div>

  <div class="column small-6">
    <article class="feature-card bg_gray_light">
      <div class="feature-card__content">
        <header class="feature-card__header">
          <h2 class="feature-card__title">
            This black hole has an appetite for cold, cosmic rain
          </h2>
          <h3 class="feature-card__category">Astronomy at Yale</h3>
        </header>
        <footer class="feature-card__footer">
          <a class="button" href="#">Learn more <span class="show-for-sr">This black hole has an appetite for cold, cosmic rain</span></a>
        </footer>
      </div>
    </article>    
  </div>
</div>

<div class="row">
  <div class="column small-4">
    <article class="feature-card theme_white">
      <figure class="feature-card__figure responsive_image">
        <picture class="feature-card__picture">
          <img class="feature-card__image" src="" alt="">
        </picture>
      </figure>
      <div class="feature-card__content">
        <header class="feature-card__header">
          <h2 class="feature-card__title">
            Residential Life
          </h2>
        </header>
        <div class="feature-card__description">
          <p>
            <a href="feature-card__description_link">Nulla tempor sem a purus blandit, eu elementum massa sagittis. Proin tortor enim, suscipit sed magna.</a>
          </p>
        </div>
      </div>
    </article>    
  </div>
</div>






