<h1 class="text-center"><small>Yale Charging Instructions</small></h1>

<form id="yale-charging-form" data-abide novalidate class="border" >
      
      <label id="Company">Company
        <input type="text" value="CO" 
        name="Company" required pattern="^CO\d{2}$" maxlength="4" minlength="4" aria-required="true">
        <span class="form-error">
          Format: CO01
        </span>
      </label>

  
      <label id="ChargeID">Charge ID (GRN, GFT, or YD)
        <input id="ChargeIDValue" type="text" name="ChargeID" palceholder="GRN, GFT, or YD" required pattern="(^GRN\d{5}$)|(^GFT\d{5}$)|(^YD\d{6}$)" maxlength="9" minlength="8" aria-required="true">
        <span class="form-error">
          Format: GRN12345 or GFT12345 or YD123456
        </span>
      </label>

    
    <div id="additional-required" class="hide">
      <label>Cost Center
        <input type="text" aria-required="true" required pattern="^CC\d{4}$" maxlength="6" minlength="6" name="CC" size="60" value="CC">   
        <span class="form-error">
          Format: CC1234
        </span>     
      </label>

      <label>Program
          <input type="text" aria-required="true" required pattern="^PG\d{5}$" maxlength="7" minlength="7" name="PG" size="60" value="PG">     
        <span class="form-error">
          Format: PG12345
        </span>      
      </label>

      <label>Project
          <input type="text" aria-required="true" required pattern="^PJ\d{6}$" minlength="8" maxlength="8" name="PJ" size="60" value="PJ">        
        <span class="form-error">
          Format: PJ123456
        </span> 
      </label>

      <label>Assignee (optional)
        <input type="text" aria-required="false" >
      </label>

    </div>

    <button id="submit-payment" class="expanded button" name="submit-payment" type="submit" value="Submit">Submit</button>

</form>