<ul class="vertical menu" id="styleguide-menu">
  <li class="nav-title">General</li>
  <li{{#ifpage 'grid'}} class="current"{{/ifpage}}><a href="grid.html">Grid</a></li>
  <li{{#ifpage 'typography'}} class="current"{{/ifpage}}><a href="typography.html">Typography</a></li>
  <li{{#ifpage 'colors'}} class="current"{{/ifpage}}><a href="colors.html">Colors</a></li>
  <li{{#ifpage 'forms'}} class="current"{{/ifpage}}><a href="forms.html">Forms</a></li>

  <li class="nav-title">Navigation</li>
  <li{{#ifpage 'navigation'}} class="current"{{/ifpage}}><a href="navigation.html">Overview</a></li>
  <li{{#ifpage 'dropdown-menu'}} class="current"{{/ifpage}}><a href="dropdown-menu.html">Dropdown <span class="label">JS</span></a></li>
  <li{{#ifpage 'progress-bar'}} class="current"{{/ifpage}}><a href="progress-bar.html">Progress Bar</a></li>


  <li class="nav-title">Controls</li>
  <li{{#ifpage 'buttons'}} class="current"{{/ifpage}}><a href="buttons.html">Buttons</a></li>
  <li{{#ifpage 'button-groups'}} class="current"{{/ifpage}}><a href="button-groups.html">Button Groups</a></li>
  <li{{#ifpage 'slider'}} class="current"{{/ifpage}}><a href="slider.html">Slider <span class="label">JS</span></a></li>
  <li{{#ifpage 'switch'}} class="current"{{/ifpage}}><a href="switch.html">Switch</a></li>
  <li{{#ifpage 'pagination'}} class="current"{{/ifpage}}><a href="pagination.html">Pagination</a></li>
  <li{{#ifpage 'breadcrumbs'}} class="current"{{/ifpage}}><a href="breadcrumbs.html">Breadcrumbs</a></li>

  <li class="nav-title">Containers</li>
  <li{{#ifpage 'dialogs'}} class="current"{{/ifpage}}><a href="dialogs.html">Dialogs <span class="label">JS</span> <small>Modal</small></a></li>
  <li{{#ifpage 'tables'}} class="current"{{/ifpage}}><a href="tables.html">Tables</a></li>
  <li{{#ifpage 'tabs'}} class="current"{{/ifpage}}><a href="tabs.html">Tabs <span class="label">JS</span></a></li>
</ul>
