<footer class="yale-footer">
     <div class="footer-logo row">
        <div class="column large-4">
            <a class="y-icons y-yale y-mark" href=
            "http://www.yale.edu/"><span class="show-for-sr">Yale
            </span></a>
        </div>
       

        <div class="column large-4">
        <ul>
          <li><a href="http://usability.yale.edu">Usability &amp; Web Accessibility</a></li>
        </ul>
        </div>

        <div class="column large-2">
        <ul>
          <li><a href="mailto:ux@yale.edu" class="mailto">ux@yale.edu<span class="mailto"><span class="show-for-sr"> (link sends e-mail)</span></span></a>
</li>
        </ul>
        </div>
</footer>
