<footer class="yale-footer">
     <div class="footer-logo row">
       <div class="column small-4">
           <a class="y-icons y-yale y-mark" href=
           "http://www.yale.edu/"><span class="show-for-sr">Yale
           </span></a>
       </div>

       <div class="column small-8" align="right">
       <ul>
         <li><a href="http://usability.yale.edu">Usability &amp; Web Accessibility</a></li>
         <li><a href="http://identity.yale.edu/web">Web Identity Guidelines</a></li>
         <li><a href="mailto:ux@yale.edu" class="mailto">ux@yale.edu<span class="show-for-sr"> (link sends e-mail)</span></a></li>
       </ul>
       </div>

</footer>
