<div class="top-bar-container">
    <div class="top-bar row columns">
        <div class="top-bar-title">
            <span data-hide-for="medium" data-responsive-toggle=
            "responsive-menu"><button class="menu-icon dark"
            data-toggle="" type="button"><span data-hide-for="medium"
            data-responsive-toggle=
            "responsive-menu"></span></button></span><a href="./">Yale UI
            Style Guide</a>
        </div>


        <div id="responsive-menu">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu="">
                    <li>
                        <a href="{{root}}/pages/amc95/Yale_UI#getting-started">Getting Started</a>
                    </li>


                    <li>
                        <a href="{{root}}/pages/amc95/Yale_UI/styleguide.html">Style Guide</a>
                    </li>


                    <li>
                        <a href="{{root}}/pages/amc95/Yale_UI/#examples">Examples</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>