<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yale UI Style Guide</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/github.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body>

    {{> header-no-search}}

    <div id="main-content">

    {{#unlesspage 'index'}}
    <div class="row columns">
    <nav aria-labelledby="breadcrumbs-label" role="navigation">
        <h2 id="breadcrumbs-label" class="show-for-sr" >You are here:</h2>
        <ul class="breadcrumbs">
            <li><a href="{{root}}">Home</a></li>
            <li><a href="{{root}}#examples">Examples</a></li>
            <li>
                <span class="show-for-sr">Current: </span>{{title}}
            </li>
        </ul>
    </nav>
    </div>
    {{/unlesspage}}

    {{> body}}
    </div>

    {{> footer}}

    <script src="{{root}}assets/js/app.js"></script>

    {{> bugherd}}
    {{> GA}}  
   
  </body>
</html>